body {
    font-family: Arial, sans-serif;
    background: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-container {
    background: white;
    padding: 25px;
    width: 320px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #464849;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005fa3;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
}










